<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather</title>
    
</head>
<body>
    <div class = "main-content">
    {{>header}}
    <p>Get your Weather here, preferable enter city before starting the address</p>
    <form>
        <input placeholder="Location">
        <button>Get Forecast</button>
    </form>
    <p id="msg_1"></p>
    <p id="msg_2"></p>
    </div>
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>